{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-5" href="#"><img src="{% static 'images/rjmart.jpeg' %}" alt="Img here" width="50px" width="50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
        {% include 'store/inc/search.html' %}
</div>
  <div class="collapse navbar-collapse mr-5" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link " href="{% url 'home' %}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link 
          " href="{% url 'collections' %}">collections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'cart' %}">Cart </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'wishlist' %}">wishlist</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'order' %}">My orders</a>
          <a class="dropdown-item" href="{% url 'wishlist' %}">WishList</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logoutpage' %}">Logout</a>
        </div>

      {% comment %} <li class="nav-item">
        <a class="nav-link" href="#">Logout</a> {% endcomment %}
      {% else %}
        <li class="nav-item">
        <a class="nav-link"  href="{% url 'loginpage' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'register' %}">Register</a>
        </li>

      </li>
      {% endif %}
      
      
    </ul>
  </div>
</nav>