<!-- Extends the html -->
{% extends 'store/layouts/main.html' %}
{% block content %}
<div class="py-3 bg-primary">
  <div class="container">
    <a class="text-white" href="{% url 'home'%}">Home /</a>
    <a class="text-white" href="{% url 'collections' %}">Collections  / </a>
    <a class="text-white" href="{% url 'collectionsview' category_name.slug %}">{{category_name.name}}</a>

  </div>
</div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{category_name.name}}</h1>
          <hr>
          <div class="row">
            
            {% for item in product %}
                <div class="col-md-3">
                  <div class="card">
                    {% comment %} view product details {% endcomment %}
                    <a href="{% url 'productview' item.category.slug item.slug %}">

                    <div class="card-body">
                      <div class="catogery-image">
                        <img src="{{item.product_image.url}}" alt="catogery-image" height="150px" width="150px" class="w-100">
                      </div>
                      <h4 class="text-center">{{item.name}}</h4>
                      <span class="float-left" > Rs {{item.original_price | stringformat:'d'}}</span>
                      <span class="float-right"> Rs {{item.selling_price| stringformat:'d'}}</span>

                    </div>
                  </a>
                  </div>
                </div>
              
            {% endfor %}
              
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
  